.rect2 {
  height: 100%;
  max-height: 300px;
  /* border: 1px solid black; */
  margin-top: 7vh;
  margin-bottom: 3vh;
  margin-left: 4vh;
  margin-right: 4vh;
  padding-top: 2vh;
  padding-bottom: 3vh;
  border-radius: 20px;
}
.rect2:hover {
  background-color: rgb(241, 241, 241);
}

.rect2 .content {
  height: 50px;
  display: grid;
  grid-template-columns: 60% 30% 10%;
  margin-left: 6%;
  margin-right: 6%;
  text-align: center;
  border-radius: 20px;
  margin: 20px;
  align-items: center;
}

.content:hover {
  background-color: rgba(171, 212, 227, 0.461);
}

.content h1,
h2,
h3,
h4 {
  display: inline;
}

.content .title {
  text-align: left;
  padding-left: 2vh;
  padding-right: 2vh;
}

.writer {
  text-align: left;
  padding-left: 2vh;
  padding-right: 2vh;
}

a {
  text-decoration: none;
}
