/*���� �߰��� �κ�*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Playfair+Display:ital@0;1&display=swap");

.goal__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 107px;
  /*���� �߰��� �κ�(����)*/
  border: 1px solid #8d9fee;
  border-radius: 20px;
  background-color: #8d9fee;
  /*���� �߰��� �κ�(��)*/
}

.goal {
  /*���� �߰��� �κ�(����)*/
  font-family: "Gowun Dodum", sans-serif;
  /*���� �߰��� �κ�(��)*/

  text-align: center;
  font-size: 40px;
}
