@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap");
/* font-family: 'Noto Sans', sans-serif; */

.header {
  margin: 0;
}

.header a {
  text-decoration: none;
  color: #8d9fee;
  font-family: "Dancing Script", cursive;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 20px 40px;
}

.header__logo {
  font-size: 55px;
  text-align: center;
}

.header__menu {
  display: flex;
  font-size: 25px;
  list-style: none;
  padding-left: 0;
}

.header__menu li {
  padding: 8px 25px;
}

.header__menu li:hover {
  background-color: white;
  border-radius: 4px;
}

.header__menu li:hover a {
  color: black;
}

.header__toogleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: #fff53d;
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 24px;
  }
  .header__menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .header__menu li {
    width: 100%;
    text-align: center;
  }

  .header__toogleBtn {
    display: block;
  }
}
