@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  font-family: "Pretendard-Regular";
}
.several-month {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
.month-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.several-month .month-card {
  width: 250px;
  height: 250px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 16px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.month {
  font-size: 40px;
  color: white;
}

a {
  text-decoration: none;
}
