@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap");

.html {
  /* display: block; 
  height: 100%;
  width: 100%;
  margin: auto;
  min-width: 375px;
  max-height: 100%;*/
  margin-top: 50px;
}

.recap-form h4 {
  font-size: 20px;
}

input,
textarea,
title {
  width: 100%;
  height: 40px;
  display: block;
  border: 3px solid #989898;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.title-form {
  margin-top: 10px;
}

.body {
  margin-top: 30px;
}

input:focus,
textarea:focus {
  background-color: rgb(218, 218, 218);
  border-color: rgb(52, 52, 52);
}

/* .btn {
  text-align: center;
} */

.header-title {
  text-align: center;
  margin: auto;
  font-size: 40px;
}

.recap-form {
  margin-left: 60vh;
  margin-right: 60vh;
}

.title-form {
  width: 100%;
}

.title-form input {
  margin-left: 0;
  margin-top: 0;
}

.contents {
  width: 30vh;
  /* grid-template-columns: 30% 30% 30%; */
}

.owner {
  width: 30vh;
  /* display: flex; */
}

.owner_name {
  left: 0;
}

.owner_password {
  right: 0;
}

.owner_name input,
.date input,
.owner_password input {
  margin-left: 0;
  margin-right: 0;
}

.Img_upload {
  width: 40vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.Img_upload input {
  border: none;
  margin-left: 0;
}

.Img_upload input:focus {
  border: 3px solid #989898;
}

textarea {
  width: 100%;
  height: 30rem;
}

.title > input {
  width: 80%;
  height: 3rem;
}

.bottom {
  text-align: right;
}

.bottom > button {
  height: 2.5rem;
  width: 10rem;
  border-radius: 5px;
  background-color: #7f7f7f;
  color: white;
  margin-bottom: 2vh;
}
